.container {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    max-width: 1200px;
    width: 100%;
}

.link {
    /*TODO font*/
    text-decoration: none;
    text-transform: uppercase;
}