.container {
    position: relative;
}

.bubble {
    width: 410px;
    aspect-ratio: 296/84;
    position: relative;
}

.text {
    font-family: var(--font-fira-mono);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 15%;
    right: 10%;
    max-width: 280px;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .bubble {
        width: 100%;
    }

    .text {
        max-width: 100%;
        font-size: 17px;
    }
}