.container {
    position: relative;
    width: 100%;
    aspect-ratio: 250/230;
}

.rotated {
    transform: rotateX(180deg);
}

.logo, .logoRotated {
    position: absolute;
    left: 50%;
}

.logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.logoRotated {
    top: 10%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .logoRotated > img,
    .logo img {
        width: 90px;
    }
}