.container {
    background: rgba(15, 17, 36, 0.6);
    padding: 0 12px 10px;
    border: #1D30DB 1px solid;
    border-radius: 8px;
}

.photo {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.texts {
    font-family: var(--font-inter);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 20px 0 10px;
    color: rgba(255, 255, 255, 0.7);
}

.caption {
    font-size: 8px;
    text-align: end;
}

@media (max-width: 767px) {
    .container {
        padding: 16px 20px 4px 20px;
    }

    .texts {
        font-family: var(--font-inter-tight);
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        margin: 4px 0 0 0;
    }

    .caption {
        display: none;
    }
}