.container {
    background: rgba(15, 17, 36, 0.6);
    padding: 12px 12px 10px;
    border: #1D30DB 1px solid;
    border-radius: 8px;
    transition: 0.3s;
    text-decoration: none;
}

.container:hover {
    scale: 1.05;
}

.photo {
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.texts {
    font-family: var(--font-inter-tight);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    margin: 20px 0 10px;
    /* color: rgba(255, 255, 255, 0.7); */
    color: #FFF;
}

.jobname {
    font-family: var(--font-inter-tight);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    /* margin: 20px 0 10px; */
    /* color: rgba(255, 255, 255, 0.7); */
    color: #FFF;
}

.caption {
    font-size: 8px;
    text-align: end;
}

@media (max-width: 767px) {
    .container {
        padding: 8px 8px;
    }

    .texts {
        font-family: var(--font-inter-tight);
        font-size: 18px;
        line-height: 24px;
        margin: 4px 0 0 0;
    }

    .jobname {
        font-size: 14px;
        line-height: 20px;
    }

    .caption {
        display: none;
    }
}
